.enjoy {
  margin-right: rem(0px);
  margin-left: rem(0px);
  padding: rem(10px);
  text-align: center;
  border-radius: 40px;
  background-image: url(../images/main/enjoy.jpg);
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  height: rem(644px);
  &__wrapper {
    max-width: rem(530px);
    margin-left: rem(-3px);
  }
  &__heading,
  &__text {
    color: var(--text-light);
  }

  &__text {
    padding-top: rem(40px);
    padding-bottom: rem(58px);
  }
  &__button {
    color: var(--text-dark);
    margin-left: rem(2px);
    padding: rem(22px) rem(67px);
  }
}
@media screen and (min-width: 361px) {
  .enjoy {
    padding: rem(60px) rem(16px) rem(60px) rem(16px);
    text-align: start;
  }
}
@media screen and (min-width: 524px) {
  .enjoy {
    padding: rem(100px);
  }
}
