.footer {
  margin-bottom: rem(40px);
  color: var(--text-light);
  &__background {
    border-radius: 40px;
    background: var(--background-container);
    padding: rem(60px) rem(16px);
    text-align: center;
  }
  &__heading {
    padding-bottom: rem(40px);
  }
  &__block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: rem(0px) rem(12px);
  }
  //-----------------
  &__Contact-us {
    margin-top: rem(32px);
    &__heading {
      margin-bottom: rem(40px);
    }
    .footer__wrapper {
      &__text {
        margin-left: rem(8px);
      }
      &:nth-child(2) {
        padding-bottom: rem(2px);
      }
      &:not(:last-child) {
        margin-bottom: rem(20px);
      }
    }
  }
  &__width {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  &__wrapper {
    display: inline-flex;
    color: var(--text-light);
    position: relative;
    &:last-child {
      cursor: default;
    }
    &:not(:last-child)::before {
      content: '';
      position: absolute;
      bottom: rem(-4px);
      left: 0;
      width: 100%;
      height: rem(2px);
      background-color: none;
      transition-duration: 0.5s;
      transition-property: background-color;
      transition-timing-function: linear;
    }
  }
}

@media screen and (min-width: 485px) {
  .footer {
    &__background {
      text-align: start;
      padding: rem(100px);
    }
    &__block {
      justify-content: flex-start;
    }
    &__width {
      display: block;
      max-width: rem(330px);
    }
  }
}

@media screen and (min-width: 993px) {
  .footer {
    &__Contact-us {
      .footer__wrapper,
      &__heading {
        margin-left: rem(40px);
        margin-bottom: rem(40px);
      }
    }
  }
}

@media (hover: hover) {
  .footer {
    &__wrapper {
      &:hover {
        &::before {
          background-color: var(--text-light);
        }
      }
    }
  }
}
