.linkMenu {
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  padding-bottom: rem(2px);
  gap: rem(9px);
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: rem(2px);
    background-color: none;
    transition-duration: 0.5s;
    transition-property: background-color;
    transition-timing-function: linear;
  }
  &__link {
    color: var(--text-dark);
    line-height: 150%;
  }
  &__img {
    padding-bottom: rem(6px);
  }
}

@media screen and (min-width: 769px) {
  .linkMenu {
    display: flex;
  }
  .linkMenu__active {
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: rem(2px);
      background-color: var(--text-dark);
    }
  }
}

@media (hover: hover) {
  .linkMenu {
    &:hover {
      &::before {
        background-color: var(--text-dark);
      }
    }
  }
}
