.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: rem(30px);
  &__item {
    &:last-child {
      display: block;
    }
    list-style-type: none;
    margin-top: rem(40px);
  }
  &__link {
    line-height: 150%;
    color: var(--text-dark);
  }
  &__img {
    position: relative;
    top: rem(2px);
  }
}

@media screen and (min-width: 769px) {
  .list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: rem(16px);
    &__item {
      margin-top: rem(0px);
      padding-bottom: rem(2px);
      position: relative;
      &:nth-child(5) {
        display: none;
      }
      &:not(:nth-child(4)) {
        margin-right: rem(40px);
      }
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: rem(2px);
        background-color: none;
        transition-duration: 0.5s;
        transition-property: background-color;
        transition-timing-function: linear;
      }
    }
  }
}

@media (hover: hover) {
  .list {
    &__item {
      &:hover {
        &::before {
          background-color: var(--text-dark);
        }
      }
    }
  }
}
