.menu {
  &__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: rem(40px);
  }
  &__radio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__button {
    margin-bottom: rem(40px);
    &:not(:last-child) {
      margin-right: rem(12px);
    }
  }
}
