.mobileApp {
  &__presentation {
  }
  &__heading {
    padding-bottom: 40px;
  }
  &__text {
    line-height: 140%;
    padding-bottom: 40px;
  }
  &__block-buttom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  &__button {
    &-app {
      padding: 12px 58px 12px 20px;
    }
    &-play {
      padding: 12px 44px 12px 20px;
    }
  }
  &__img {
    padding-top: 30px;
    text-align: center;
  }
}

@media screen and (min-width: 445px) {
  .mobileApp {
    &__block-buttom {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 20px;
    }
  }
}
@media screen and (min-width: 992px) {
  .mobileApp {
    &__presentation {
      max-width: 630px;
    }
    &__img {
      padding-top: 0px;
      text-align: end;
    }
  }
}
