.mobileApp {
  &__presentation {
  }
  &__heading {
    padding-bottom: rem(40px);
  }
  &__text {
    line-height: 140%;
    padding-bottom: rem(40px);
  }
  &__block-buttom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(20px);
  }
  &__button {
    &-app {
      padding: rem(12px) rem(58px) rem(12px) rem(20px);
    }
    &-play {
      padding: rem(12px) rem(44px) rem(12px) rem(20px);
    }
  }
  &__img {
    padding-top: rem(30px);
    text-align: center;
  }
}

@media screen and (min-width: 445px) {
  .mobileApp {
    &__block-buttom {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: rem(20px);
    }
  }
}
@media screen and (min-width: 993px) {
  .mobileApp {
    &__presentation {
      max-width: rem(630px);
    }
    &__img {
      padding-top: rem(0px);
      text-align: end;
    }
  }
}
