.slider {
  display: flex;
  justify-content: center;
  margin-bottom: rem(20px);
  position: relative;
  &__arrow-left {
    left: rem(4px);
  }
  &__arrow-right {
    right: rem(4px);
  }
  &__images {
    max-height: rem(480px);
    margin-bottom: rem(14px);
  }
  &__heading,
  &__text {
    margin-bottom: rem(16px);
  }
  &__text {
    max-width: rem(490px);
  }
  &__price {
    margin-bottom: rem(37px);
  }
  &__pagination {
    display: flex;
    justify-content: center;
    .slider__element {
      padding-top: rem(3px);
      padding-bottom: rem(3px);
      &_black {
        height: rem(4px);
        width: rem(40px);
        background-color: var(--border-light);
        transition-duration: 0.3s;
        transition-property: background-color;
        transition-timing-function: linear;
      }
      &_active {
        background-color: var(--border-dark);
      }
      &:not(:last-child) {
        margin-right: rem(12px);
      }
    }
  }
}

@media (hover: hover) {
  .slider {
    &__arrow-left,
    &__arrow-right {
      &:hover {
        cursor: pointer;
        background: var(--background-container);
        .slider__arrow-img {
          stroke: var(--text-light);
        }
      }
    }
  }
  .slider__element {
    cursor: pointer;
    &:hover {
      .slider__element_black {
        background-color: var(--border-dark);
      }
    }
  }
}

@media screen and (min-width: 381px) {
  .slider {
    &__arrow-left,
    &__arrow-right {
      position: absolute;
      width: rem(60px);
      height: rem(60px);
      border-radius: 100px;
      border: 1px solid var(--border-dark);
      top: rem(290px);
      transition-duration: 0.3s;
      transition-property: background-color;
      transition-timing-function: linear;
    }
    &__arrow-img {
      stroke: var(--text-dark);
      position: relative;
      top: rem(18px);
      right: rem(0px);
    }
  }
}
